[component="text-body"]{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(220, 220, 220);
	margin-inline: auto;
	max-width: 90vw;
	&{@media screen and (min-width: 500px) {
		margin-top: 5em;
	}}
}
[component="text-body"] p{
	width: 100%;
	min-width: min(500px, 100%);
	max-width: 75ch;
	text-align: justify;
	padding-inline: 2em;
}