[component="text-body"]{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgba(50, 50, 50);
	margin-inline: auto;
	margin-top: 5em;
	max-width: 90vw;
}
[component="text-body"] p{
	width: 60%;
	min-width: min(500px, 100%);
	max-width: 75ch;
	text-align: justify;
	padding-inline: 2em;
}